<!DOCTYPE html>
<html>
	<head>
		<title>حساب العمر</title>
	</head>
	
	<body dir="rtl">
			<form method="post" action="/age">
			إسمك الكامل:<input type = "text" name= "full_name">
				<br>
				عمرك:<input type = "text" name= "yob">
				<br>
				<input type="submit" value="أحسب عمري">
			</form>
	</body>
</html>